
.questionaire-card {
  border: 1px solid #e0f0f9;
  background-color: #c7dbec;
  border-radius: 1.25rem;
  box-shadow: 0 2px 25px rgba(53, 85, 151, 0.1);
}

.question-card {
  &_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &_answer {

    font-size: 18px;
    &:hover {
      border-radius: 1.25em;
      cursor: pointer;
      background: linear-gradient( rgba(255, 255, 255, 0.6),rgba(188, 216, 238, 0.6));

    }
  }
}

